
.nave{
    border: 1px solid black;
    background-color: bisque;
    margin: 25px 50px 75px 100px;
}

.section{
    margin: 25px 100px 25px 100px ;
    border: 1px solid black;
    background-color: aqua;
}



.article{
    margin: 25px ;
    border: 1px solid black;
    background-color: blueviolet;
}

.footer{
  border: 1px solid red;
  width: 300px;
  margin: auto; 
}